*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav{
    background-color: aliceblue;
    height: 100vh;
    width: 8%;
    display: flex;
    flex-direction: column;

}

.upperlist{
    padding-bottom:59vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowerlist{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.imgnav{
    height: 32px;
    width: 32px;
    margin-top: 4px;
}

.hrnav{
    width: 32px;
}

.menu{
    height: 100vh;
    width: 32%;
    background-color: rgb(180, 158, 132);
    border-top-left-radius: 5px;
    border: 1px solid gray;
    
}
.chat{
    height: 100vh;
    width: 60%;
    background-color: bisque;
    border: 1px solid gray;
    border-left: none;
}
/* 
.t{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;

}
.test{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;


} */

.imgsubnav{
    height: 28px;
    width: 28px;
    margin-left: 8px;
    
}
.chatmenu{
    font-size: 24px;
    font-weight: 500;
    padding: 4px;
    padding-right: 35%;
}

.subnav{
    height: 56px;
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;

}

.searchmenu{
    background-color: aliceblue;
    height: 40px;
    width: 90%;
    border:0.9px solid rgba(145, 156, 157, 0.695);
    border-radius: 8px;
    font-size: 16px;
    padding-bottom: none;
    text-align: center;
    margin:4.5%;
    box-shadow: 0.4px 2px 1.5px rgba(0, 0, 0, 0.9);

}

.chataccount{
    background-color: #fff;
    width: 90%;
    height: 64px;

}

.dp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.username{
    font-size: 20px;
    font-weight: 300;
}
.lastmms{
    font-size: small;
    text-transform: capitalize;

}